langchain==0.3.7
langchain-chroma == 0.1.4
langchain-community==0.3.4
langchain-ollama===0.2.0
langchain-text-splitters==0.3.1
pypdf==5.1.0
watchfiles==0.24.0
msal
requests
watchfiles
argparse
tqdm
sqlalchemy
docx2txt==0.8
python-pptx==1.0.2
llama-cpp-python==0.3.1
pytz
pyinstaller
hdbscan
pandas
questionary
halo
art